.aside {
  &__inner {
    width: var(--aside-width);
    z-index: 20;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: var(--block-border);
    transform: translateX(-100%);
    transition: all 0.2s;
    transition-property: opacity, transform, box-shadow;

    .menu-open & {
      width: calc(100vw - 50%);
      margin-top: var(--header-height);
      transform: translateX(0);
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    }
  }

  @media only screen and (min-width: $sm-query) {
    transform: translateX(0);
  }

  &__overlay {
    position: fixed;
    z-index: 19;
    inset: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s;
    pointer-events: none;

    .menu-open & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__logo {
    display: none;
    gap: 10px;
    align-items: center;
    margin-left: calc(var(--aside-width) / 5.5);
    height: var(--header-height);
    color: var(--help-color-2);
    text-decoration: none;

    @media only screen and (min-width: $sm-query) {
      display: flex;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
  }
}
