.aside {
  width: var(--aside-width);
  z-index: 20;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: var(--block-border);

  &__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: calc(var(--aside-width) / 5.5);
    height: var(--header-height);
    color: var(--help-color-2);
    text-decoration: none;
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
  }
}
