.header {
  position: fixed;
  top: 0;
  right: 0;
  left: var(--aside-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: var(--header-height);
  border-bottom: var(--border-block);
}
