@media only screen and (max-width: $sm-query) {
  .layout__container {
    padding-top: 0;
    padding-left: 0;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header {
    left: 0;
  }
}
