:root {
  --primary-color: #2d60ff;
  --secondary-color: #fe5c73;
  --help-color-1: #feaa09;
  --help-color-2: #343c6a;
  --aside-width: 250px;
  --header-height: 100px;
  --border-block: solid 1px #E6EFF5;
}
