:root {
  --text-color: #232323;
  --primary-color: #1814f3;
  --secondary-color: #fe5c73;
  --light-color: #e6eff5;
  --white-color: #ffffff;
  --help-color-1: #feaa09;
  --help-color-2: #343c6a;
  --aside-width: 250px;
  --header-height: 100px;
}
